Screen {
    background: #1e1e2e; 
    color: #cccccc;
}

Infrapulse {   
    background: #1e1e2e;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
    align: center middle;
}

Static {
    color: #FFFFFF;
    text-align: center;
}

Button {
    color: #FFFFFF;
    background:rgb(53, 57, 78);
    margin-top: 2;
    width: 40;
} 

#s3-buckets-list {
    text-align: center;
}